.site-main .page .entry-content {
	width: 900px;
    font-family: 'merriweather', sans-serif;
    
    p {
    	margin: 0;
    }
}

.page .entry-header h1 {
	font-size: 40px;
	text-transform: uppercase;
}

.entry-content {
	h2 {
		font-family: 'novecento', sans-serif;
	}
}
