/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */


input[type="submit"] {
	background-color: $color_green_brand;
	font-family: 'novecento', sans-serif;
	font-size: 18px;
	padding: 10px 30px;
	color: white;
	border: none;
	text-transform: uppercase;
	&:hover {
		background-color: $color_green_hover;
	}
		
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0.3rem;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.wpcf7-form {
	text-transform: uppercase;
	line-height: 2;
}

.required {
	color: $color_orange_brand;
}

.wpcf7-text {
	background-color: $color_form_background;
	border: 1px solid $color_solid_border;
	margin-bottom: 20px;
	margin-top: 10px;
}

.wpcf7-textarea {
	background-color: $color_form_background;
	border: 1px solid $color_solid_border;
	margin-bottom: 20px;
	margin-top: 10px;
}

.wpcf7-submit {

}