.search-area {
	width: 740px;
	margin-right: 100px;
	font-family: 'merriweather', sans-serif;
}

//searchbar

.search-form {
	fieldset {
		border: none;
	}
}

.search-field {
	display: none;
}

.search-title {
	font-size: 50px;
	font-family: 'novecento', sans-serif;
	margin-bottom: 0;
	a {
		font-size: 40px;
		text-decoration: none;
		color: $color_green_brand;
	}
}

.search-comments {
	font-family: 'novecento', sans-serif;
	font-size: 20px;
	margin: 20px 0;
}

.search-button {
	display: flex;
    justify-content: center;
	padding: 10px;
    border: 1px solid black;
    text-transform: uppercase;
    color: black;
    width: 175px;
    font-family: 'novecento', sans-serif;
	&:hover {
		background-color: $color_green_brand;
		color: white;
		border: 1px solid $color_green_brand;
		cursor: pointer;
		a{
			color: white;
		}
	}
	a {
		color: black;
		text-decoration: none;
	}

}

.search-summary {
	line-height: 2;
}

.search-pagination {
	font-family: 'novecento', sans-serif;
	text-transform: uppercase;
	margin-bottom: 40px;
	padding-top: 40px;
	border-top: 1px solid $color_solid_border;
	.page-numbers {
		font-size: 20px;
		text-decoration: none;
		color: white;
		background-color: $color_green_brand;
		padding: 7px 10px;
		&:hover {
			background-color: $color__text-main;
		}
	}	
}

.search-pagination .current {
	background-color: gray;
	&:hover {
		background-color: gray;
	}
}
