/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

//sidebar

.widget-title {
	font-family: 'novecento', sans-serif;
	font-size: 30px;
}

.widget-container {
	display: flex;
	flex-direction: column;
	border-left: 0.5px solid $color_light_grey;
    padding-left: 20px;
    width: 350px;
    padding: 40px;
    padding-left: 60px;
	font-family: 'merriweather', sans-serif;
}

.widget_archive {
	ul {
		list-style: none;
    	margin-left: 0;
    	padding: 0;
	}
}

.day-of-week {
	font-weight: bold;
}